/*fonts*/
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Bold.woff2") format("woff2"),
  url("../fonts/TTNorms-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNormsPro-Medium.woff2') format('woff2'),
  url('../fonts/TTNormsPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Regular.woff2") format("woff2"),
  url("../fonts/TTNorms-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*general styles*/
.body {
  padding: 0;
  margin: 0;
  font-family: "TT Norms", "Arial", sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.main {
  width: 1920px;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}
.menu{
  width: 290px;
  background-color: #fff;
  box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
}
.top-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 87px;
  padding-bottom: 58px;
}
.user-photo{
  display: block;
  width: 86px;
  height: 86px;
  margin: 5px;
}
.user-profile{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.profile-name{
  font-size: 18px;
  line-height: 21px;
  color: #0D1C2E;
}
.dropdown-icon{
  position: relative;
  width: 19px;
  height: 19px;
  margin-left: 6px;
  background-image: url(../img/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(10%);
  transition: all 0.5s ease;
}
.dropdown-menu{
  position: absolute;
  z-index: 1;
  transform: translate(-50%, 20%);
  display: none;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  list-style-type: none;
  white-space: nowrap;
}
.dropdown-list a{
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #707C97;
  text-decoration: none;
}
.dropdown-icon:hover .dropdown-menu{
  display: block;
}
.dropdown-list a:hover{
  background-color: #eee;
}
.nav-bar{
  padding: 0;
  margin: 0;
}
.nav-list{
  padding: 18px 0;
  list-style-type: none;
}
.nav-list:nth-child(7){
  padding-top: 278px;
  padding-bottom: 41px;
}
.nav-link{
  display: block;
  padding: 10px 0 10px 38px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #707C97;
  text-decoration: none;
  transition: all 0.5s ease;
}
.home-item::before{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
  transform: translateY(25%);
  content: "";
}
.chat-item::before{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/chat.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
  transform: translateY(25%);
  content: "";
}
.contact-item::before{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/person.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
  transform: translateY(25%);
  content: "";
}
.notification-item::before{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/bell.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
  transform: translateY(25%);
  content: "";
}
.calendar-item::before{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
  transform: translateY(25%);
  content: "";
}
.settings-item::before{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/settings.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
  transform: translateY(25%);
  content: "";
}
.power-item::before{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/power.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
  transform: translateY(25%);
  content: "";
}
.home-item, .chat-item{
  transition: all 0.5s ease;
}
.home-item:active, .chat-item:active{
  color: #2A8BF2;
  box-shadow: inset 10px 0px 0px -3px rgba(42, 139, 242, 0.60),
  inset 25px 0px 10px -5px rgba(42, 139, 242, 0.3);
}
.home-item:active::before{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/b-home.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
  transform: translateY(25%);
  content: "";
}
.chat-item:active::before{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/b-chat.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 17px;
  transform: translateY(25%);
  content: "";
}
.chat-item:hover, .home-item:hover, .contact-item:hover, .notification-item:hover, .calendar-item:hover, .settings-item:hover, .power-item:hover{
  background-color: #eee;
}
.chat-item:hover:active, .home-item:hover:active{
  background-color: #fff;
}

